<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find ros_robot_description_pkg)/urdf/seven_dof_arm.urdf" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" />

</launch>
